version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
    time: '04:00'
  open-pull-requests-limit: 10
  reviewers:
  - mimmi20
  assignees:
  - mimmi20
  labels:
  - dependencies
  versioning-strategy: increase
  ignore:
  - dependency-name: infection/infection
    versions:
    - ">= 0"
  - dependency-name: phpunit/phpunit
    versions:
    - ">= 0"
  commit-message:
    prefix: Build
    include: scope
