# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - package-ecosystem: composer
    directory: "/"
    schedule:
      interval: daily
      time: '04:00'
    open-pull-requests-limit: 10
    reviewers:
      - "mimmi20"
    assignees:
      - "mimmi20"
    labels:
      - "dependencies"
    versioning-strategy: increase
    ignore:
      - dependency-name: infection/infection
        versions:
          - ">= 0"
      - dependency-name: phpunit/phpunit
        versions:
          - ">= 0"
      - dependency-name: symfony/cache
        versions:
          - ">= 0"
      - dependency-name: symfony/finder
        versions:
          - ">= 0"
    commit-message:
      include: "scope"
      prefix: "Build"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: '04:00'
    open-pull-requests-limit: 10
    reviewers:
      - "mimmi20"
    assignees:
      - "mimmi20"
    labels:
      - "dependencies"
    versioning-strategy: increase
    ignore:
      - dependency-name: infection/infection
        versions:
          - ">= 0"
      - dependency-name: phpunit/phpunit
        versions:
          - ">= 0"
      - dependency-name: symfony/cache
        versions:
          - ">= 0"
      - dependency-name: symfony/finder
        versions:
          - ">= 0"
    commit-message:
      include: "scope"
      prefix: "github-actions"
