*~
.settings
.buildpath
.project
.idea/
vendor/
composer.phar
composer.lock
build/build*/
error.log
ergebnis.txt
result.txt
phpunit.txt
resources/browscap-*/
tests/create-tests.php
cache/*
!cache/.gitkeep
tests/temp/*.php
tests/temp/*.ini
.php-cs-fixer.cache
.phplint-cache
.phpunit.result.cache
.phpcs.cache
infection-*.log
rewrite*.php
.reports/
*.bak
