*~
.settings
.buildpath
.project
.idea/
vendor/
composer.phar
composer.lock
build/build*/
data/browscap-ua-test-*/
data/browser/
data/cache/
!data/useragents/
error.log
ergebnis.txt
resources/browscap-*/
