parameters:
  autoload_files:
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~MockObject~'
#    - '~Parameter #1 \$headers of method BrowserDetector\Detector::getBrowser\(\) expects mixed\[\]|Psr\Http\Message\MessageInterface|string, stdClass given.~'
