<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticProperties="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnIncompleteTests="true"
    failOnPhpunitDeprecation="true"
    failOnEmptyTestSuite="true"
    failOnIncomplete="true"
    failOnRisky="true"
    failOnSkipped="false"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnWarning="true"
    bootstrap="vendor/autoload.php"
    enforceTimeLimit="false"
    executionOrder="default"
    resolveDependencies="true"
    requireCoverageMetadata="true"
    colors="true"
    cacheDirectory="./.reports/.coverage-cache"
    columns="119"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="assert.exception" value="On"/>
        <ini name="intl.default_locale" value="de"/>
        <ini name="intl.use_exceptions" value="1"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="UnitTests">
            <directory>tests/DetectorTest/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <clover outputFile=".reports/clover.xml"/>
            <html outputDirectory=".reports/report/" lowUpperBound="50" highLowerBound="80"/>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile=".reports/junit.xml"/>
    </logging>
</phpunit>
