<phpunit bootstrap="./bootstrap.php"
         verbose="true">
         <!--
         backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         processIsolation="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         colors="false" -->
    <testsuites>
        <testsuite name="TM Core Api">
            <directory>./Backend/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
            <exclude>
                <directory>../library/Zend</directory>
                <directory>../library/Doctrine</directory>
                <directory>../library/Unister</directory>
                <directory suffix=".phtml">../library</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>