/****************************************
autor: 
site: www.preisvergleich.de
contact: 
****************************************/
/** KREDITE ANTRAG STYLE **/
*{
    padding: 0; 
    margin : 0;
    }
BODY{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    text-align: center;
    }
DIV{    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    }
table{
    width: 100%;
    text-align: left;
    background-color: #FAFBF5;
    border: 1px solid #EAEAEA;
    margin-top: 10px;
    font-size:12px;
    }
td{
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid #FFF;
    border-bottom: 1px solid #EAEAEA;
    }
HR{
    height:1px; 
    color: #FF0000; 
    background: #FF0000; 
    padding: 0px 10px;
    }
H1{
    font-size: 14px;
    font-weight: bold;
    border: none;
    text-indent: 15px;
    background-image: url("../resources/images/info/info_service_bg.gif");
    background-position: left;
    background-repeat: no-repeat;
    background-color: #EAEAEA;
    }
h2{
    font-size: 16px; 
    font-weight: bold;
    }
form{ 
    display: inline; 
    font-size: 10px; 
    }
form INPUT, select{ 
    display: inline; 
    font-size: 10px; 
    }
UL, OL{
    margin: 5px 5px 5px 50px;
    }
.left{
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    }
.noBorder{
    border: none;
    }
.text OL{
    font-weight: bold;
    }
.text UL{
    list-style-image: url("../resources/images/info/info_pfeil_short.gif");
    }
.text LI a:LINK, .text LI a:VISITED{
    font-weight: normal;
    text-decoration: underline;
    }