form                            {display:inline;}
form input, select                {font-size:12px;}
form input.search                {font-size:10px;border:1px solid #000;margin:5px 0px 5px 5px;}
form input.button                {color:#000;background:#FFF;font-size:10px;border:1px solid #000;margin:5px 0px 5px 5px;}

.text img.nlImg                    {float:left;margin:0 1em .5em 1.7em;}
*html .text img.nlImg            {margin:.7em 1em;}
*html .text p.nlParagraph        {padding:.5em;}

/* newsletter landing */
.nlIframe,
.nlMyform                        {width:90%;padding:20px;text-align:center;}
*html .nlIframe                    {clear:both;width:100%;padding:0;}
*html .nlMyform                    {clear:both;width:100%;}
html>body .nlIframe                {float:left;}
html>body .nlMyform                {float:left;}
html>body .nlClear                {clear:both;}

.myform                            {display:table;width:100%;padding:20px;text-align:center;}
*+html .myform                    {width:auto;}

.nlMyform input, 
.nlMyform select, 
.nlMyform option, 
.nlMyform textarea,
.myform input, 
.myform select, 
.myform option, 
.myform textarea                {font-size:13px;margin:2px;vertical-align:middle;}
.myform textarea,
.myform textarea                {width:225px;}
.nlMyform table,
.myform table                    {background:#FAFBF5;text-align:left;border-right:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;}
html>body .nlMyform table        {margin:20px;}
html>body .myform table            {margin:20px;}
.nlMyform table td,
.myform table td                {width:50%;height:25px;padding:0px 3px;border-top:1px solid #EAEAEA;border-left:1px solid #EAEAEA;}
.nlMyform table td.blue,
.myform table td.blue            {font-size:13px;font-weight:bold;color:#000;border-top:1px solid #EAEAEA;border-left:1px solid #EAEAEA;}
.blue_footer                    {font-size:13px;color:#000;background:#EAEAEA;}
.blue_header                    {color:#000;font-size:14px;line-height:25px;font-weight:bold;background:#EAEAEA;}
.nlMyform input.button_compare,
.myform input.button_compare    {width:100px;font-size:13px;margin:5px;}

#frmErrorBlock             {width:500px;display:none;margin:0 0 1em 2.55em;background:#ffebe3;border:1px dashed red;}
#frmErrorBlock ul         {width:auto;margin:0 3.5em .4em 3.5em;}
#frmErrorBlock li        {background:url(../resources/images/icons/error_arrow.gif) no-repeat .5em .5em;text-align:left;}

.keyError                 {display:none;color:red;}
.keyErrorActive            {display:list-item;}
.keyBorder,
.keyBorder td            {background:none;}
.keyBorderActive,
.keyBorderActive td        {color:red;background:#ffebe3;}

.inlDiv                    {margin:1em 2em;}
.pkvCalc                {margin:2em;}
.pkvCalc table td        {text-align:left;}
.pkvCalc option            {padding-right:3px;}
#powered                {color:#666;font-size:.9em;padding:0 4em;}

#stepTbl                 {border:1px solid #ccc;border-width:1px 1px 0 1px;width:500px !important;}
#stepTbl td             {width:25%;color:#ccc;background:#f3f3f3;border-left:5px solid #ccc;padding:.1em .3em;font-weight:bold;}
#stepTbl td a             {color:#ccc;font-weight:bold;}
#stepTbl td.active         {background:#4A6BCA url(../resources/images/bg_green.gif) repeat-x;color:#fff;border-color:#6c3;}
#stepTbl td.active a     {color:#fff;}

#stepbox                 {padding:0;background:#f3f3f3;width:500px;border:1px solid #ccc;}
html>body #stepbox        {width:498px;}
#stepbox ul             {list-style:none;margin:0;}
#stepbox li             {color:#fff;float:left;padding:.5em 1em;color:#ccc;background:none;font-weight:bold;border-left:5px solid #ccc;}
#stepbox li.active         {color:#fff;background:#4A6BCA url(../resources/images/bg_green.gif) repeat-x;border-color:#6c3;}

.cdbox                    {padding:1em 0;width:500px;border:1px solid #ccc;border-width:0 1px;}
html>body .cdbox        {width:498px;}
.cdbox dt                {float:left;width:70px;padding:.3em .3em .3em 1.5em;}
.cdbox dd                 {margin-left:80px;padding:.45em 1em 0 0;}
.cdbox dd div             {border:1px solid #e1e1e1;padding:0;background:#fff;}
.cdbox dd div img        {height:.8em;vertical-align:baseline;display:block;}

.step1                    {width:10%;}
.step2                    {width:20%;}
.step3                    {width:40%;}
.step3a                    {width:60%;}
.step4                    {width:80%;}
.step5                    {width:100%;}

.kzvbox                 {text-align:left;width:500px;}
.kzvbox table             {border:1px solid #ccc;background:#FAFBF5;width:500px !important;}
.kzvbox td                 {width:50%;padding:.1em .3em;vertical-align:top;text-align:left;line-height:normal;}
.kzvbox td.rgtCol         {text-align:right;padding-right:2em;}
.kzvbox td.nxt             {color:#00c;text-align:right;font-weight:bold;text-decoration:underline;padding:1em 2em;}
.kzvbox td.head         {background:#f3f3f3;padding:.3em 1em;font-weight:bold;}
.kzvbox td.sub             {font-size:1.2em;font-weight:bold;border-top:1px dashed #ccc;}
.kzvbox td.first         {border-top:none;}
.kzvbox label             {font-weight:bold;}
.pkvbox dl.halfDl                             {width:50%;float:left;}
.pkvbox .halfDl dt                            {width:50%;text-align:center;padding-top:1em;}
.pkvbox .halfDl dd                            {margin-left:55%;text-align:center;padding-top:1em;}

.fstRow                                {background:#FAFBF5;}
.scdRow                                {background:#fff;}

.pkvbox                                        {border:1px solid #ccc;margin:.41em 0 .83em 2.55em;width:557px;}
html>body .pkvbox                            {width:555px;}
.pkvbox .highlight                            {background:#a3ccff;font-weight:bold;color:#fff;padding:.5em;}
.pkvbox .fstRow                                {background:#EEFFDD;}
.pkvbox .scdRow                                {background:#F8FFF0;}
.pkvbox .ovrRow                                {background:#cf9;}
.pkvbox input.txt                            {width:14em;}
.pkvbox select.half,
.pkvbox input.half                            {width:9.5em;}
.pkvbox select.quarter                        {width:4.5em;}
.pkvbox input.quarter                        {width:4em;}
.pkvbox select.birthday                        {width:3.4em;margin:0 .4em 0 .2em;}
.pkvbox select.birthmonth                    {width:3.4em;margin:0 .3em;}
.pkvbox select.birthyear                    {width:4.4em;margin:0 0 0 .4em}
.pkvbox select.slt                            {width:14em;}
html>body .pkvbox select.slt                {width:14.3em;}
.pkvbox textarea                            {width:16.3em;height:5em;}
html>body .pkvbox textarea                    {width:17.8em;}

.pkvbox dl                                    {height:1%;}
html>body .pkvbox dl                        {overflow:hidden;}
.pkvbox dl div                                {padding:.5em;}
.pkvbox dt                                    {clear:left;float:left;width:20.5em;padding:.5em;text-align:right;}
.pkvbox dd                                    {margin-left:21.5em;padding:.5em;}

.pkvbox .insurance .fstRow                    {background:#EEFFDD;}
.pkvbox .insurance .scdRow                    {background:#F8FFF0;}

/*.pkvbox .keyBorderActive,
.pkvbox .insurance .keyBorderActive            {background:#ffebe3;}
*/
.pkvbox .keyBorderActive option,
.pkvbox .insurance .keyBorderActive    option,
.pkvbox .keyBorderActive input,
.pkvbox .insurance .keyBorderActive    input    {border:1px solid #f00;color:#f00;}

.pkvbox .btn                                {cursor:pointer;}
.pkvbox .more                                {color:#00c;text-decoration:underline;padding:.5em;text-align:right;background:#efd;}
.pkvbox .small                                {font-size:.8em;}
.pkvbox .line                                {margin:0 20px;height:10px;background:#FAFBF5 url(../resources/images/dotted-line.gif) repeat-x center;}

/* mini formular */
.pkvbox dl.mini                                {height:3em;float:left;width:23.1em;}
.pkvbox dl.mini div                            {padding:.5em;}
.pkvbox .mini dt                            {clear:left;float:left;width:9.7em;padding:.8em .2em;}
html>body .pkvbox .mini dt                    {padding:.6em .2em;}
.pkvbox .mini dd                            {margin-left:9.7em;padding:.5em .1em;}
.pkvbox .mini input.txt                        {width:11em;}
.pkvbox .mini select.half,
.pkvbox .mini input.half                    {width:7.5em;}
.pkvbox .mini select.quarter                {width:2.9em;}
.pkvbox .mini input.quarter                    {width:3.2em;}
html>body .pkvbox .mini input.quarter        {width:2.9em;}
.pkvbox .mini select.birthday                {width:3.2em;margin:0;}
.pkvbox .mini select.birthmonth                {width:3.2em;margin:0 .2em;}
.pkvbox .mini select.birthyear                {width:3.9em;margin:0;}
.pkvbox .mini select.slt                    {width:11em;}
html>body .pkvbox .mini select.slt            {width:11.3em;}