/* Standard */
.error,
.alert        {color:#f00;}
label.error   {display:block;}
input.error   {border:2px solid #f00; background-color:#ffebe3;background-image:none;}
.left         {text-align:left;}
.right        {text-align:right;}
.center       {text-align:center;}
.betragCol a,
.zinsCol a,
.center a     {text-decoration:none;color:#000;}