BODY{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    text-align: center;
    }
table{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFBF5;
    }
td{
    font-size: 12px;
    height: 22px;
     padding: 2px 10px;
    }
td table{    
    margin: 0;
    width: auto;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    }
HR{    
    display: none;
    }
/* default styles for mr_money */
.antart {
    font-size:15px;
    height: 30px;
    font-weight:bold;
    color:#FFF;
    background:#39396B;
    }
.antus {
    font-size: 14px;
    font-weight:bold;
    height: 25px;
    background-color: #EAEAEA;
    } 
.antk {
    font-size:9px;
    }
#gesinfo {
    margin:10px;
    font-size:11px;
    color:#000;
    }
#box_faq, #box_gesell{
    padding: 5px;
    background-color: #FAFBF5;
    margin: 0px 10px;
    }
#gesinfo h2 {
    font-size:14px;
    font-weight:bold;
    }
#vvergleich .vergleichlink {
    }
.hilfehidden{ 
    display: none;
     padding: 2px 5px 2px 30px;
    }
.hilfevisible{ 
    color:#000;
    display: compact;
    background-color:#FFFFE1; 
     padding: 2px 5px 2px 30px;
    }
.hidden{ 
    display: none;
    }
.visible{ 
    display: compact;
    }
#vvergleich{
    background: #FFF;
    padding-bottom: 10px;
    }
#vvergleich table{        
     width: 100%;
    border-collapse: collapse;
    background: #FAFBF5;
    }
#vvergleich form{
    width: 100%;
    margin-bottom: 10px;
    }
#vvergleich select{
    min-width: 100px;
    }
#vvergleich h2 {
    font-size:14px;
    font-weight:bold;
    color:#FF0000;
    }
#vvergleich-empfehlung { 
    padding:10px 0px 0px 10px; 
    font-size:11px; 
    background-color: #FAFBF5;
    color: #000;
    }
#vvergleich-empfehlung h2 {
    font-size: 14px;
    color: darkred;
    font-weight: bold;
    }
#vvergleich .faqlink {
    text-decoration:none;
    display: block;
    width: 100%;
    }
#vvergleich a {
    }
#vvergleich a.infofeld {    
    position: relative; 
    z-index:50;        
    }
#vvergleich a.infofeld:hover{
    text-decoration:none;
    }
#vvergleich a.infofeld span{
    display: none;
    }
#vvergleich a.infofeld:hover span{
    display:block;
     position:absolute; 
    top:-1em;left:15em; 
    width:25em;
    border:1px solid #106ac5;
    padding:2px; 
    color:#000;
    text-align: left;
    text-decoration:none;
    z-index:100;
    }
#vvergleich .chktext {
    margin:0px 0px 5px 0px;
    }

#vvergleich .table-start {        
    font-weight: bold;
    border-top: 10px solid #FAFBF5;
    border-bottom: 10px solid #FAFBF5;
    }
#vvergleich .table-start .row-header,  #vvergleich .table-berechnungoben .row-header{
    display: none;
    }
#vvergleich .table-start .col1-data, #vvergleich .table-start .col2-data {        
    font-weight: normal;
    }
#vvergleich .table-start .col1-info, #vvergleich .table-start .col2-info {        
    font-weight: normal;
    }
#vvergleich .table-start td, #vvergleich .table-berechnungoben td{
     padding: 2px 5px 2px 30px;
    }
#vvergleich .table-berechnungoben{
    background: #FAFBF5;
    }
#vvergleich .table-berechnung{
    background: #FAFBF5;
    margin: 10px 0px;
    }
#vvergleich .table-berechnung td{
    margin: 10px 0px;
    }
#vvergleich .rot {
    color: #darkred;
    }
#vvergleich .row-1 {
    border-bottom: 1px solid #FFF;
    }
#vvergleich .row-1 a{
/*    padding-right: 17px;
    background-image: url("../../resources/images/icons/info_small.gif"); 
    background-repeat: no-repeat; 
    background-position: right center;
*/    }
#vvergleich .row-2 {
    border-bottom: 1px solid #FFF;
    }
#vvergleich .row-header {
    color: #FFF;
    font-weight: bold;
    background-color: #39396B;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    }
#vvergleich .row-header a{
    color: #FFF;
    }
#vvergleich .row-antrag {
    font-weight: bold;
    background-color: #39396B;    
    }
#vvergleich .row-anleitung {
    text-align:right;
    }
#vvergleich .anleitung {
    background-color: #FAFBF5;
    }
#vvergleich .info {
    font-size: 10px;
    }
#vvergleich .table-leistung{
    border-right: 1px solid #FFF;
    }
#vvergleich .table-leistung td{
    height: 25px;
    border-left: 1px solid #FFF;
    }
#vvergleich .table-leistung .row-header, #vvergleich .table-leistungtext, #vvergleich .table-leistungtext td{
    border: none;
    }
/* Formatierung und Darstellung der Formularfelder */
#vvergleich INPUT.form-button {
    font-weight:bold;
    padding:2px;
    margin: 10px;
    cursor: pointer;
    }
#vvergleich INPUT.form-button-krebs {
    font-size: 11px;
    color: #000;
    font-weight:bold;
    padding:2px;
    margin: 10px;
    cursor: pointer;
    }
#vvergleich .vergleichbutton {
    font-size: 11px;
    color: #000;
    font-weight:bold;
    padding:2px;
    margin: 10px;
    cursor: pointer;
    }
#vvergleich .vergleichbutton-box {
    text-align:right;
    margin:0px;
    padding:0px;
    }
#vvergleich INPUT.form-text {
    }

#vvergleich INPUT.form-checkbox {
    margin:0px 5px 0px 5px;
    }
#vvergleich .form-area {
    }
#vvergleich select.form-select {
    }
#vvergleich .fehler {
    font-weight:bold;
    color:#FF0000;
    }
.floater{
    background: #FDDABC;
    padding: 10px;
    }