/* load some default */
@import url(standard_zusatz.css);
@import url(standard_modules.css);
@import url(standard_forms.css);
@import url(mr_money.css);

#footer                        {width:650px;}
*html #footer                {width:640px;}

#globalContent                {margin-left:0;margin-right:0;width:650px;}
*html #globalContent        {width:640px;}
.text                        {border:1px solid #EAEAEA;border-collapse:collapse;min-height:100px;}
.text h1                    {color:#666;font-size:14px;font-weight:bold;padding-left:10px;margin-top:5px;}
.text h2                    {width:80%;font-size:18px;font-weight:bold;padding:5px 5px 10px 5px;}
.text h3                    {width:95%;font-size:13px;font-weight:bold;margin:10px 0 5px 10px;border-bottom:1px solid #EAEAEA;}
.text p                        {padding:0 10px 10px 10px;}

.text table thead            {font-weight:bold;font-size:13px;padding:5px;background:#D1DEF7;}
.buttons                    {float:right;border:none;font-size:11px;padding-right:3px;text-align:right;vertical-align:middle;}
.buttons a                    {text-decoration:none;}
.kreditRechner                {border-spacing:none;}
.kreditRechner td            {background-color:#FAFBF5;padding:0 10px;}
.kreditRechnerSmall            {width:100%;padding-left:10px;background:#FAFBF5;}
.krediteOutput tr            {background-color:#FAFBF5;}
.kredite td                    {text-align:center;vertical-align:middle;}
.kredite td.left            {text-align:left;padding-left:10px;font-weight:bold;}
.kredite td.zumRechner        {text-align:left;background:#FAFBF5;vertical-align:middle;padding-left:10px;}
.reiter                        {line-height:25px;font-size:12px;background-color:#FFF;margin:0;border-top:1px solid #FFF;}
.kredit_info td                {background-color:#FAFBF5;padding:2px 10px;vertical-align:middle;}
.kredit_info INPUT            {font-size:10px;}

.partner td                    {background:#FAFBF5;padding:0 10px;}
.partner td .right            {float:right;padding-right:20em;}
#partner                    {margin:10px 0;text-align:center;}
#partner .container            {width:578px;margin:0 auto;}
.pre                        {height:188px;background:url(../resources/images/werbung/partner_theme_01.gif) no-repeat top center;}
.btn, .btn_v2                {float:left;width:286px;height:42px;font-size:13px;text-align:center;margin:144px 0 0 1px;background:url(../resources/images/werbung/partner_theme_01_button.jpg) no-repeat top left;}
html>body .btn                {margin:144px 0 0 2px;}
.btn_v2                        {width:182px;height:60px;margin:10px 2px;background:url(../resources/images/werbung/partner_theme_03_button.jpg) no-repeat;}
.btn a                        {display:block;margin-top:12px;height:42px;}
.btn_v2 a                    {display:block;margin-top:15px;height:60px;}
.howto .btn, #popup .btn    {float:none;margin:0;}
#popup .btn                    {margin:0 0 20px 25%;}
* html #popup .btn            {margin:10px 0 10px 25%;}
html>body #popup .btn a        {padding-top:0.8em;}
.howto                        {border:none;background:none;}
.howto td                    {border:none;background:none;padding:10px;}

/** override navi **/
a.gross H1                    {font-size:18px;font-weight:bold;}

/* display none */
*                {padding:0;margin:0;}
body            {font-family:Arial, Helvetica, sans-serif;font-size:12px;}
a                 {color:#0000CC;text-decoration:underline;}
hr                {height:1px;color:#000;background:#000;}
div                {margin:1em 0;}
h1, h2, h3, h4    {color:#000;font-size:1.2em;}
script,
#sbnav,
#navigationLeft,
#pageRight,
#FlexTop,
#FlexTop,
#FlexPop,
#FlexSky,
#pathway,
#path,
.grau,
.search,
.buttons,
.startBlock img,
.topicOfMonth img,
.infoService,
.threeBoxes,
.demandAnalysis,
.demandAnalysisSmallForm,
.mainImage,
.linkBox,
.gross,
.abstand_r,
.other            {display:none;visibility:hidden;}
.other            {color:#FFF;}

#kfz_block                                {margin:.7em;background:#FFF;border:1px solid #EAEAEA;font-size:100.1%;font-family:Arial, Helvetica, sans-serif;}
*html #kfz_block                         {height:1%;}

#kfz_block a:hover                         {color:#CC0000;}
#kfz_block h3                             {color:#0000aa;}
#kfz_block p                            {font-size:1em;padding:.3em .7em .3em 1.5em;}
#kfz_block img                            {vertical-align:middle;}
#kfz_block li,
#kfz_block table,
#kfz_block table p                        {font-size:1em;}
#kfz_block table td                        {vertical-align:top;height:auto;line-height:normal;}
#kfz_block table td div                    {padding:.4em .2em;}
#kfz_block span.required                 {color:blue;}
    
#kfz_block .stepTable                     {border-bottom:1px solid #EAEAEA;}
#kfz_block .stepTable td                {color:#666;background:#FAFBF5;font-weight:bold;border-left:5px solid #FDDABC;padding:.2em .4em;height:25px;line-height:25px;}
#kfz_block .stepTable td.activeCol        {color:#FFF;background:url(../images/step_bg.gif) repeat-x;}

#kfz_block .countdownTable                 {border-bottom:1px solid #EAEAEA;}
#kfz_block .countdownTable td             {width:10%;padding:.3em .3em .3em 1.5em;vertical-align:baseline;}
#kfz_block .countdownTable td.countdown {width:90%;padding:.3em;}
#kfz_block .countdown div                 {border:1px solid #EAEAEA;vertical-align:bottom;padding:0;width:485px;}
#kfz_block .countdown div img            {height:.8em;vertical-align:baseline;border:none;}
/* countdown img width's */
.step1                                    {width:10px;}
.step2                                    {width:100px;}
.step3                                    {width:150px;}
.step4                                    {width:200px;}
.step5                                    {width:250px;}
.step5a                                    {width:300px;}
.step5b                                    {width:350px;}
.step6                                    {width:400px;}
.step7                                    {width:450px;}
.step8                                    {width:480px;}


#kfz_block .resultTable                    {border-top:1px solid #EAEAEA;}
#kfz_block .resultTable a                {text-decoration:none;}
#kfz_block .resultTable td                {width:auto;height:2em;vertical-align:middle;}
#kfz_block .resultTable .highlightRow    {text-align:center;}
/** other specials **/
.secondRow                                {background:#EFEFEF;}
.siegel                                    {margin:.3em;}
.siegelSmall                            {margin-right:.5em;}
.best                                    {background:#F6F9FE;}
.disclaimer                                {color:#666;border-bottom:1px solid #EAEAEA;}
#kfz_block p.disclaimer                    {font-size:.9em;padding:.3em .7em 1.5em 1.5em;}

.leistungsvergleich td                                {font-weight:bold;color:#CCC;padding:.2em 0;}
#kfz_block .resultTable .leistungsvergleich td a     {text-decoration:underline;}
html>body .leistungsvergleich img                    {margin:.3em 0;}

.getOffer,.onlineDeal,.dummyDeal        {display:block;margin:.2em;padding:.5em;white-space:nowrap;}
.dummyDeal                                {border:1px solid #F6F9FE;margin-left:0;padding-left:0;}
.getOffer                                {background:#F2F2F2;border:1px solid #CCC;}
.onlineDeal                                {background:#CCFF99;border:1px solid #66CC33;}

#kfz_block table .labelCol                {width:50%;text-align:right;font-weight:bold;}
#kfz_block table .labelCol a img        {margin-right:.3em;}
#kfz_block table .infoCol                {width:40px;text-align:center;vertical-align:top;}
#kfz_block table .infoCol div            {padding: 0 .5em;}
*html #kfz_block table .infoCol            {width:40px;text-align:center;padding:.5em .5em 0 .5em;}
#kfz_block table .fieldCol                {}

#kfz_block table .highlightRow td         {padding:.4em .3em;background:#FAFBF5;}
#kfz_block table .highlightRow td div    {border:1px solid #FAFBF5;}
*html #kfz_block table .highlightRow td.infoCol {padding-top:.6em;background:#FAFBF5;}

.headCol                                 {text-indent:.7em;font-weight:bold;border-left:5px solid green;border-bottom:1px solid #FFF;}
.offerTable .headCol                    {background:#FAFBF5;border-left-color:#FDDABC;padding:.5em 0;}

#kfz_block .carNameRow                     {color:green;font-weight:bold;font-size:1em;}
#kfz_block table .carNameRow             {color:green;font-weight:bold;font-size:1em;}
#kfz_block .errorBlock                     {color:red;}
#kfz_block .errorBlock ul                {list-style-type:square;}
#kfz_block .errorBlock li                {background:none;}

#kfz_block .submitRow td                 {padding-top:.4em;border-top:1px solid #EAEAEA;}
#kfz_block .submitCol                     {text-align:right;padding-right:.7em;}
.submitBtn                                {border:none;background:none;cursor:pointer;}
.btnCompare                                {border:none;background:none;cursor:pointer;margin:0;padding:0;}


#damagesLast3Years                        {margin:0 .7em 0 1.5em;}
*html #damagesLast3Years                 {width:100%;}
#damagesLast3Years p                    {padding:.3em 0;}
#damagesLast3Years table                {border:1px solid #EAEAEA;}
#damagesLast3Years td                     {text-align:center;}
#damagesLast3Years th                     {background:#FAFBF5;font-size:1em;}

/** help topic **/
.help                                    {background:#FFF;font-size:100.1%;}
#helpTopic                                 {font-family:Arial, Helvetica, sans-serif;font-size:.75em;background:#FFF;border:1px solid #FF0000;border-width:3px 0 1px 0;}
#helpTopic h3                             {font-size:1.5em;margin:0;padding:.5em 2em;background:#FAFBF5 url(../images/help.gif) no-repeat .5em center;border-bottom:1px solid #EAEAEA;}
#helpTopic p                             {margin:1em;text-align:justify;line-height:1em;}
#helpTopic p.btnClose                     {text-align:right;margin-top:2em;}

/** leistungsvergleich **/
#kfz_block table.compareTable            {width:23%;float:left;border:1px solid #CCC;border-width:1px 1px 0 0;margin-bottom:1.5em;}
*html #kfz_block table.compareTable        {margin-bottom:0;}
#kfz_block table.compareTable .highlightRow    td    {background:#EAEAEA;}
#kfz_block table.wide                    {margin-left:.3em;border-left:1px solid #CCC;}
.wide td                                {white-space:nowrap;background:#FAFBF5;}
#kfz_block table.compareTable td        {vertical-align:top;padding:.4em;border:1px solid #CCC;border-width:0 0 1px 0;}
.best                                    {background:#E7FCCE;}
#kfz_block table.compareTable td.siegelBack {background:#FAFBF5 url(../images/siegel_small_lv.gif) no-repeat right;}