#navigationLeft                    {float:left;width:180px;margin:10px 0 0 5px;}
html>body #navigationLeft        {margin-top:5px;}
*+html #navigationLeft            {margin-top:0;}
.navigationLine                    {display:none;border-top:1px solid #EAEAEA;}

#navigationLeft h1                {color:#919191;margin:0;font-size:14px;font-weight:bold;line-height:25px;text-indent:10px;vertical-align:middle; background:url(../resources/images/mainlevel_h1_bg.gif) repeat-x bottom;}
#navigationLeft h1 a            {color:#919191;display:block;font-size:14px;font-weight:bold;line-height:25px;text-indent:10px;text-decoration:none;background:url(../resources/images/pfeil.gif) no-repeat left;}
#navigationLeft h1 a:hover        {color:#f00;}

.navigationLeftMainlevel        {display:block;text-align:left;line-height:21px;padding-left:10px;}
a.navigationLeftMainlevel        {color:#00f;width:170px;display:block;font-size:12px;line-height:21px;padding-left:10px;background:#FFF;}
a.navigationLeftMainlevel:hover    {color:#f00;}

a.navigationLeftSublevel        {margin:0;display:block;font-size:12px; font-weight:normal;letter-spacing:0.06em;padding:0 10px 0 20px;text-decoration:none;background:url(../resources/images/navi_sublevel.gif) no-repeat 10px;}
a.navigationLeftSublevel:hover    {margin:0;color:#f00; padding:0 10px 0 20px;text-decoration:none;}    

#pathway                        {height:25px;padding-top:5px;background:url(../resources/images/info/dot.gif) repeat-x bottom;}
#path                            {color:#666;font-weight:bold;margin-left:5px;font-size:12px;position:absolute;white-space:nowrap;}
a.pathLink                        {font-size:12px;font-weight:normal;padding-right:15px;margin-right:5px;background:url(../resources/images/icons/pfeil02.gif) no-repeat right center;}