/* standards */

.lnkBox                 {margin:.5em 0 1em 0;}
* html .lnkBox            {height:1%;}
.lnkBox a                 {display:block; font-size:1em; padding:.5em; text-decoration:none;}
.lnkBox a:hover           {background-color:#F3F3F3;text-decoration:none;}
.lnkBox img              {float:left;border:none;}
* html .lnkBox img        {margin:0 .3em 0 .1em;}
.lnkBox .space            {display:block;margin-left:.2em;}
.lnkBox .head             {font-size:1.2em; font-weight:bold; color:#22B; text-decoration:underline;}
.lnkBox :hover .head      {color:#FF0000;}
.lnkBox .gtext             {color:#220;}
.lnkBox .url              {color:#008000;margin-left:.2em;}
.lnkBox .hr             {}

.gAd {border:1px solid #e1e1e1; border-top:0;}
.gAd a {display:block;height:1%;padding:8px 10px;text-align:left;text-decoration:none;border-bottom:1px dashed #e1e1e1;}
html>body .gAd a {overflow:hidden;}
.gAd a.end {border-bottom:none;}
.gAd a:hover {text-decoration:none !important;background:#f3f3f3;}
.gAd img {clear:left; float:left; display:block;}
.gAd span {margin-right:5px;}
.gAd .ad {display:block; /*margin-left:30px;*/}
.gAd .head {color:#00c; font-size:1.2em; font-weight:bold; text-decoration:underline;}
.gAd a:hover .head {color:#f00;}
.gAd .gtext {color:#220; font-weight:normal;}
.gAd .url {color:#006000; font-weight:normal;}

/* override */
.GoogleDefault,
.GoogleMainPage,            
.GoogleContentPage        {border:1px solid #EAEAEA;}
.GoogleContentPage        {margin:.5em 0 1em 0;}

/* search */
.search                 {margin-top:0;border-top:none;}
.search a,
.search a:visited        {text-decoration:none;}
.search span            {display:block;}
.search img                {margin-left:.5em;}
* html .search img        {margin:0 .3em 0 .5em;}
.pageNav                {padding:10px;}

/* skyscraper */
.googleSky                {margin:0 1em 0 0;border:none;}
.googleSky span         {display:block;margin:0;}
.googleSky h3             {letter-spacing:0.06em;background:url(/img/layout_products/linien/grau_dotted_klein.gif) repeat-x bottom;}
.googleSky h3 span        {color:#999;font-weight:bold;line-height:1.4em;padding:0 .3em;background:none;}
.googleSky .space       {display:block;margin-left:0;}
.googleSky .head        {font-size:1em;}
.googleSky .url         {margin-left:0;}
.googleSky .hr             {height:1px;line-height:1px;font-size:1px;background:url(/img/layout_products/linien/grau_dotted_klein.gif) repeat-x;}

* html .mainscraper        {margin:1em 1em 0 0;}

/* special afs kfz */
.GoogleKampagne span    {display:inline;}
.GoogleKampagne .gtext  {color:#220;display:block;margin-top:.2em;}
.GoogleKampagne img        {margin:.1em .3em 1em .3em;}
.text .GoogleKampagne a {padding:.3em .3em .3em .3em;}
.GoogleKampagne .grey    {margin:.3em .3em 0 2.5em;}
.GoogleKampagne .grey a    {padding:0;}