/* default styles for mr_money */
#vvergleich                                            {display:block;padding:20px;border:1px solid #EAEAEA;border-top:0;}
* html #vvergleich                                    {width:100%;}
#vvergleich table                                    {border-spacing:inherit;}
* html #vvergleich table                            {border-collapse:collapse;}
#vvergleich table td                                {padding:10px;background:#FAFBF5;}
#vvergleich img                                        {border:none;vertical-align:middle;}
#vvergleich form                                    {display:block;height:1%;overflow:hidden;}
* html #vvergleich form                                {display:inline;}
#vvergleich select                                    {min-width:100px;}
#vvergleich .table-start a                            {text-decoration:none;}
#vvergleich .table-start .col1-data, 
#vvergleich .table-start .col2-data, 
#vvergleich .table-berechnenoben-left                {font-weight:bold;}
#vvergleich .table-start td, 
#vvergleich .table-berechnungoben td                {padding:5px 5px 5px 10px;}
#vvergleich .table-berechnungoben td                {background:#FAFBF5;}
#vvergleich .table-start .row-header td, 
#vvergleich .table-berechnungoben .row-header td    {text-align:left;}
#vvergleich table.table-berechnung                    {font-size:11px;background:#FAFBF5;}
#vvergleich .table-berechnung td                    {padding:3px 2px 3px 5px;}
html>body #vvergleich .table-berechnung td            {padding-left:2px;}
#vvergleich .table-berechnung tr.tipp                {color:#FE0000;background:#FDDABC;}    
#vvergleich .table-berechnung td a                    {font-size:11px;font-weight:bold;text-align:left;}
#vvergleich .rot                                     {color:#FE0000;}
#vvergleich .row-header td                            {font-weight:bold;background-color:#EAEAEA;text-align:center;border:none;}
#vvergleich .table-start .row-header td, 
#vvergleich .table-berechnungoben .row-header td    {font-size:14px;}
#vvergleich .row-antrag                             {font-weight:bold;background-color:#39396B;    }
#vvergleich .row-anleitung                             {font-weight:normal;}
#vvergleich .anleitung                                {display:none;background-color:#FAFBF5;}
#vvergleich .info                                     {font-size:10px;}
#vvergleich-empfehlung                                 {color:#000;font-size:11px;padding:10px 0px 0px 10px;background-color:#E2E2E2;}
#vvergleich h2, 
#vvergleich-empfehlung h2                             {color:#CC0000;font-size:14px;font-weight:bold;}
#vvergleich a.infofeld                                 {position:relative;z-index:50;}
#vvergleich a.infofeld:hover                        {text-decoration:none;}
#vvergleich a.infofeld span                            {display:none;}
#vvergleich a.infofeld:hover span                    {display:block;position:absolute;top:-1em;left:15em;width:25em;border:1px solid #106ac5;padding:2px;color:#000;text-align:left;text-decoration:none;z-index:100;}
#vvergleich .chktext                                 {margin:0px 0px 5px 0px;}
/* Formatierung und Darstellung der Formularfelder */
.form-button, 
.vergleichbutton                                    {font-size:11px;font-weight:bold;padding:2px;margin:10px;cursor:pointer;}
.vergleichbutton                                    {margin-right:0;}
.btn-berechnen, 
.btn-weiter                                            {float:right;margin-right:0;}
.btn-neuervgl, 
.btn_empfehlungen, 
.btn-zurueck                                        {font-size:9px;font-weight:normal;padding:0;margin-left:0;}
#vvergleich .vergleichbutton-box                     {text-align:right;margin:0px;padding:0px;}
#vvergleich .fehler                                 {font-weight:bold;color:#FF0000;}
#gesinfo                                             {margin:10px;font-size:11px;color:#000;}
#box_faq, #box_gesell                                {background-color:#FAFBF5;width:100%;}
#box_faq table                                        {border:none;}
#vvergleich .faqlink                                 {text-decoration:none;}
#gesinfo h2                                         {font-size:14px;font-weight:bold;}
#vvergleich .vergleichlink                             {color:#000;}
#vvergleich .hilfehidden,
#vvergleich .hidden                                    {display:none;}
#vvergleich .hilfevisible                            {display:compact;font-weight:normal;background-color:#FDDABC;padding:2px 5px 2px 30px;}
#vvergleich .visible                                {display:compact;}