.getFAQ                                {border:1px solid #eaeaea;border-top:0;margin-top:5px;}
.getFAQ td                             {vertical-align:top;text-align:center;background:#FAFBF5;border:1px solid #eaeaea;padding:10px;}

.doRecommend                        {display:table;width:100%;padding:20px;text-align:center;}
.doRecommend table                    {background:#FAFBF5;text-align:left;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
html>body .doRecommend table        {margin:20px;}
.doRecommend td                        {vertical-align:top;width:50%;height:25px;padding:10px;border-top:1px solid #eaeaea;border-left:1px solid #eaeaea;}

.demandAnalysisMatch                {border-top:1px solid #fff;}
.demandAnalysisMatch div            {text-align:left;line-height:22px;border-bottom:1px solid #eaeaea;}
.demandAnalysisMatch div img        {margin:0px;}
.demandAnalysisMatch div a            {line-height:25px;}
.demandAnalysisMatch div a            {display:block;font-size:13px;text-decoration:none;font-weight:bold;}
.demandAnalysisMatch div a.right    {float:right;text-align:right;font-weight:normal;text-decoration:underline;padding-right:10px}
.demandAnalysisMatch div a:hover    {background:#FAFBF5;}
.demandAnalysisMatch div.intro        {padding:20px 70px 20px 10px;background:#FAFBF5 url(../resources/images/info/siegel.gif) no-repeat right;line-height:normal;font-weight:normal;border:1px solid #eaeaea;border-width:1px 0;}
.demandAnalysisMatch div.intro b    {letter-spacing:0.07em;}
.demandAnalysisMatch p.legend        {background:#fff;text-align:left;line-height:25px;vertical-align:middle;margin:10px 0;padding-left:5px;}
.demandAnalysisMatch p.legend img    {vertical-align:middle;margin:0px 0px 0px 0px;}
.demandAnalysisMatch p.legend b        {color:#39396B;padding-left:20px;letter-spacing:0.06em;}

.tippBox                            {float:right;width:100%;border:1px solid #eaeaea;background:#FAFBF5;}
.tippBox h1                            {color:#f00;display:block;width:30%;font-weight:bold;line-height:21px;white-space:nowrap;padding:0px 10px 0px 10px;}
.tippBox a                            {float:right;padding-top:40px;padding-right:5px;}
.tippBox p                            {float:right;width:inherit;max-width:185px;padding:5px 0px 2px 5px;margin:0;background-position:110px 7px;background-repeat:no-repeat;border-top:1px solid #fff;}
.tippBox p.arag                        {background-image:url(../resources/images/info/tipp_arag.gif);}
.tippBox p.concordia                {background-image:url(../resources/images/info/tipp_concordia.gif);}
.tippBox p.deurag                    {background-image:url(../resources/images/info/tipp_deurag.gif);}
.tippBox p.hkd                        {background-image:url(../resources/images/info/tipp_hkd.gif);}
.tippBox p.signal                    {background-image:url(../resources/images/info/tipp_signal.gif);}
.tippBox p.vwbund                    {background-image:url(../resources/images/info/tipp_vwbund.gif);}
.tippBox p.grund                    {background-image:url(../resources/images/info/tipp_grund.gif);}

#tippSky                             {float:right;width:175px;color:#000;margin-top:3px;background:#fafbf5;}
#tippSky h1                            {display:block;color:#fff;text-indent:5px;font-size:12px;font-weight:bold;line-height:21px;padding-bottom:1px;background:#f00;}
#tippSky img                         {border:0;}
#tippSky a.lgo                         {display:block;}
#tippSky .lgoimg                    {width:13.4em;height:6.16em;}
html>body #tippSky.lgoimg            {width:13.35em;}
#tippSky a.lnk,span.lnk             {position:relative;display:block;height:80px;padding:0 .3em;text-decoration:none;color:#264989;cursor:pointer;border-top:1px solid #fff;}
#tippSky a.lnk2,span.lnk2            {background:#eaeaea;}
#tippSky span.lnk                    {cursor:auto;}
#tippSky span.nolnk                    {text-decoration:none;}
#tippSky a:hover                     {background:#e6eeff;}
#tippSky .product                     {position:relative;top:1px;font-size:1em;font-weight:bold;text-decoration:none;}
#tippSky .vers                         {width:90px;padding-top:.2em;float:left;font-size:.95em;text-decoration:none;}
#tippSky .imgr                         {width:6.5em;float:right;margin:.3em 0;}
#tippSky .imgr                         {position:absolute;top:15px;right:5px;display:block;}
#tippSky .price                     {position:absolute;bottom:5px;right:5px;display:block;text-decoration:underline;color:#00c;text-align:right;}
#tippSky .price strong                 {font-weight:bold;}
#tippSky a:hover .price                {color:#c00;}
#tippSky .vers a                    {color:#000;text-decoration:none;}
#tippSky .vers a:hover,
#tippSky .price a:hover                {background:none;}

.docWerner                            {float:right;width:175px;color:#000;margin-top:3px;background:#c00;}
.docWerner h1                        {display:block;color:#fff;text-indent:5px;font-size:12px;font-weight:bold;line-height:21px;padding-bottom:1px;}
.docWerner a                        {float:right;padding-top:40px;padding-right:5px;}
.docWerner .block                    {height:80px;line-height:16px;padding:5px 0 5px 5px;border-top:1px solid #eaeaea;}
.docWerner .adSpace                    {background:#FAFBF5;padding:5px;border-top:1px solid #eaeaea;}
.docWerner .adSpace table            {font-size:12px;}
.docWerner .adSpace td                {vertical-align:top;line-height:normal;}
.docWerner .adSpace td.left            {padding-right:2px;}
.docWerner .adSpace a                {float:none;padding:0;}

.arag                                {background:#FAFBF5 url(../resources/images/info/tipp_arag.gif) no-repeat 90px 7px;}
.concordia                            {background:#FAFBF5 url(../resources/images/info/tipp_concordia.gif) no-repeat 90px 7px;}
.deurag                                {background:#FAFBF5 url(../resources/images/info/tipp_deurag.gif) no-repeat 90px 7px;}
.hkd                                {background:#FAFBF5 url(../resources/images/info/tipp_hkd.gif) no-repeat 90px 7px;}
.signal                                {background:#FAFBF5 url(../resources/images/info/tipp_signal.gif) no-repeat 90px 7px;}
.vwbund                                {background:#FAFBF5 url(../resources/images/info/tipp_vwbund.gif) no-repeat 90px 7px;}
.grund                                {background:#FAFBF5 url(../resources/images/info/tipp_grund.gif) no-repeat 90px 7px;}
.karstadt                            {background:#FAFBF5 url(../resources/images/info/tipp_karstadt.gif) no-repeat 90px 7px;}

.intensionIntro                        {color:#008000;text-indent:15px;margin-top:10px;background:#eaeaea url(../../img/layout_products/banner/farbverlauf/suche_bg.jpg) repeat-x top;border:1px solid #eaeaea;border-width:1px 0;border-left:5px solid #FE0000;font-size:15px;font-weight:bold;line-height:30px;}
.intensionIntro b                    {color:#000;}
.intensionFirst,
.intensionNext                        {text-align:left;background:#FAFBF5;border:1px solid #fff;border-width:1px 0;}
.intensionFirst img, 
.intensionNext img                    {margin-top:2px;}
a.intensionFirst, 
a.intensionNext,
a.intensionFirst:visited, 
a.intensionNext:visited                {color:#000;display:block;padding:5px 5px 5px 0px;line-height:25px;border:0;text-decoration:none;}
a.intensionFirst:hover, 
a.intensionNext:hover                {color:#000;background:#eaeaea;text-decoration:none;}
a.intensionFirst:link strong, 
a.intensionNext:link strong            {color:#00c;text-decoration:underline;}
a.intensionFirst:visited strong, 
a.intensionNext:visited strong        {color:#909;text-decoration:underline;}
a.intensionFirst:hover strong, 
a.intensionNext:hover strong        {color:#c00;text-decoration:underline;}

.intension                            {text-align:left;background:#fbfbfb;border-top:1px solid #fff;border-bottom:1px solid #eaeaea;}
.intension img                        {margin-top:2px;}
.intension span,
.intension a                        {color:#000;display:block;padding:5px;line-height:18px;border:none;text-decoration:none;}
.intension a:hover                    {color:#000;}
.intension a strong                    {color:#00c;}
.intension a:hover strong            {color:#c00;text-decoration:underline;}
.nextLnk                            {background:#fafbf5;}
.oneCol                                {padding:.5em .3em;}
.lastCol                            {margin-bottom:1em;}


.offers                                {margin-bottom:5px;}
.offers td                            {vertical-align:top;background:#FAFBF5;border:1px solid #eaeaea;}
.offers h1                            {color:#fff;text-indent:5px;font-size:13px;font-weight:bold;background:#f00;line-height:21px;margin:0px;border-bottom:2px solid #eaeaea;}
.offers h2,h3,h4,h5                    {float:left;color:#000;margin-left:3px;}
.offers h2                            {width:15px;margin:2px 0px 0px 1px;font-size:11px;font-weight:normal;padding:0px;}
.offers h2 a                        {width:15px;color:#000;margin-right:-6px;font-size:11px;font-weight:normal;padding:0px;cursor:pointer;}
.offers h3                            {font-size:32px;font-weight:bold;text-align:left;}
.offers h4                            {font-size:8px;padding-top:2.5em;margin-left:1px;}
.offers h5                            {font-size:18px;line-height:38px;font-weight:bold;width:120px;margin:0;text-align:right;}
.offers b                            {display:block;color:#000;line-height:25px;margin-left:5px;}
.offers p                            {clear:both;line-height:9px;text-indent:12px;margin:6px 2px 0px 2px;background-image:url(../resources/images/info/angebot_pfeil.gif);background-position:left;background-repeat:no-repeat;white-space:nowrap;}
.offers a                            {float:right;line-height:30px;padding:5px 5px 0px 0px;}
.offers p.tipp                        {float:left;width:70px;height:30px;cursor:pointer;margin-top:2px;background-image:url(../resources/images/info/tipp.gif);background-position:20px 0px;background-repeat:no-repeat;overflow:hidden;}
.offers p.tipp a                    {display:block;    width:60px;}

#offersCnt *                        {margin:0;padding:0;}
#offersCnt                            {margin:2em 0 2em 2.5em;}
#offersCnt div                        {float:left;width:15.3em;border:1px solid #ccc;margin:0;background:#F8FFF0;}
html>body #offersCnt div            {width:15.2em;}
#offersCnt div.middle                {margin:0 .3em;}
#offersCnt .h1                        {display:block;height:auto;color:#fff;text-indent:.5em;padding:.2em 0;letter-spacing:0.06em;font-weight:bold;background:url(../resources/images/bg_grey.gif);border:1px solid #fff;}
#offersCnt .h2,
#offersCnt .h3                        {display:block;margin-left:.1em;}
#offersCnt .h2                        {font-size:1em;width:1em;float:left;color:#00004a;margin:.2em 0 0 0;padding:.2em 0 0 .1em;font-weight:normal;}
#offersCnt .h3                        {float:left;color:#00004a;width:4em;font-size:2em;font-weight:bold;text-align:right;}
html>body #offersCnt .h3            {width:4.2em;}
#offersCnt .h4                        {display:block;float:left;color:#00004a;font-size:.75em;padding:1.5em 0 0 .1em;white-space:nowrap;}
#offersCnt b                        {clear:both;display:block;color:#00004a;padding:0 .5em;}
#offersCnt p                        {padding:.1em .2em .5em 1.5em;background:url(../resources/images/info/angebot_pfeil.gif) no-repeat .5em .6em;}
#offersCnt a                        {float:right;padding:1em .5em .5em .5em;}
#offersCnt img                        {margin:.1em 0 .1em 2.8em;}

.offersHdr {font-size:1.2em;padding:.3em .5em;color:#fff;background:#666 url(http://www.preisvergleich.de/img/white-corner.gif) no-repeat right top;}
#offersWide {text-align:left;border:1px solid #666;border-top:none;}
#offersWide .name {float:left;width:125px;margin:1em 0 0 0;letter-spacing:0.06em;font-weight:bold;text-align:left;}
#offersWide .person {float:left;width:165px;margin:1em 0 0 0;padding-left:1.5em;background:url(../resources/images/info/angebot_pfeil.gif) no-repeat .5em .5em;}
#offersWide .pricebox {float:left;width:150px;margin:0;}
#offersWide .price {color:#060;}
#offersWide .bsp {font-size:1em;}
#offersWide .price {font-size:2em;font-weight:bold;}
#offersWide .mtl {font-size:.75em;white-space:nowrap;}
#offersWide img {margin:.3em;float:left;}
