name: "Lint GitHub Actions workflows"

on:
  pull_request:
    paths:
      - ".github/**"

jobs:
  actionlint:
    runs-on: "ubuntu-24.04"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          lfs: false
          persist-credentials: false

      - name: "install libimagequant-dev"
        run: "sudo apt-get install libimagequant-dev -y"

      - name: "Use Node.js 22.4"
        uses: "actions/setup-node@v4"
        with:
          node-version: "22.4"

      - name: "Check workflow files"
        uses: "raven-actions/actionlint@v2"
        with:
          matcher: true
          cache: true
          fail-on-error: false
          flags: "-ignore SC2086"
